.navbar {
  font-size: 18px;
  text-transform: capitalize;
  background-color: black;
}

ul li a.active {
  color: #f2c64d;
}
.navbar .nav-item:hover .nav-link {
  color: rgb(242, 198, 77);
}

p {
  line-height: 1.8;
  font-size: 15px;
  margin-bottom: 0px;
  color: #777777;
}

.footer {
  background-color: #202020;
}

a:link {
  text-decoration: none;
}
